IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8007
PUERTO_ESCUCHA_KERNEL=    8003
PATH_FAT=/home/utnso/tp-2023-2c-Algorritmos/Filesystem/Fat/FAT.bin
PATH_BLOQUES=/home/utnso/tp-2023-2c-Algorritmos/Filesystem/BlocksFile/ARCHIVO_BLOQUES.bin
PATH_FCB=/home/utnso/tp-2023-2c-Algorritmos/Filesystem/Fcbs/
CANT_BLOQUES_TOTAL=10
CANT_BLOQUES_SWAP=2
TAM_BLOQUE=4
RETARDO_ACCESO_BLOQUE=2500
RETARDO_ACCESO_FAT=500
